<h1>Pokémon List</h1>

<input type="text" [(ngModel)]="searchText" autofocus />

<table mat-table [dataSource]="pokemon | appFilter: searchText" class="mat-elevation-z8">
	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
	<ng-container matColumnDef="number">
		<th mat-header-cell *matHeaderCellDef> Number </th>
		<td mat-cell *matCellDef="let pokemon"> {{pokemon.number}} </td>
	</ng-container>
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let pokemon"> {{pokemon.name}} </td>
	</ng-container>
	<ng-container matColumnDef="moveset-link">
		<th mat-header-cell *matHeaderCellDef> Moveset Info </th>
		<td mat-cell *matCellDef="let pokemon"> <a mat-stroked-button color="primary"
				[href]="pokemon.movesetLink">Moveset</a> </td>
	</ng-container>
	<ng-container matColumnDef="evolution-info">
		<th mat-header-cell *matHeaderCellDef> Evolution Info </th>
		<td mat-cell *matCellDef="let pokemon"> <a mat-stroked-button color="primary"
				[href]="pokemon.evolutionLink">Evolution Info</a></td>
	</ng-container>
</table>