<h1>Pokémon List</h1>
<div class="loading" *ngIf="isLoading">Loading...</div>
<div class="error" *ngIf="isError">Error loading Pokémon.</div>
<div class="container" *ngIf="!isLoading && !isError">

    <form class="parameter-form">
        <mat-form-field appearance="fill">
            <mat-label>Generation</mat-label>
            <mat-select [(value)]="selectedGenNumber" (selectionChange)="loadPokemon()">
                <mat-option *ngFor="let gen of generations" [value]="gen.id">
                    {{gen.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Site</mat-label>
            <mat-select [(value)]="selectedSite">
                <mat-option *ngFor="let site of availableSites;" [value]="site.name">
                    {{site.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <form class="search-form">
        <mat-form-field class="search-field">
            <mat-label>Name or Number</mat-label>
            <input name="search" (keyup)="applyFilter($event)" placeholder="Name or Number" #input matInput
                type="search" autofocus />
        </mat-form-field>
    </form>

    <table mat-table [dataSource]="pokemonDataSource" class="mat-elevation-z8">
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let pokemon"><img width="50" height="50"
                    [src]="'https://img.pokemondb.net/artwork/'+pokemon.name+'.jpg'" /></td>
        </ng-container>
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
            <td mat-cell *matCellDef="let pokemon"> {{pokemon.number}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let pokemon"> {{pokemon.displayName}} </td>
        </ng-container>
        <ng-container matColumnDef="evolution-link">
            <th mat-header-cell *matHeaderCellDef> Evolution </th>
            <td mat-cell *matCellDef="let pokemon"> <a mat-raised-button color="primary" target="_blank"
                    [href]="pokemon.evolutionUrls[selectedSite]">Evolution</a></td>
        </ng-container>
        <ng-container matColumnDef="location-link">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let pokemon"> <a mat-raised-button [href]="pokemon.locationUrls[selectedSite]"
                    target="_blank" color="accent">Location</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="effectiveness-link">
            <th mat-header-cell *matHeaderCellDef> Effectiveness </th>
            <td mat-cell *matCellDef="let pokemon"> <a mat-raised-button
                    [href]="pokemon.effectivenessUrls[selectedSite]" target="_blank" color="warn">Effectiveness</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="learnset-link">
            <th mat-header-cell *matHeaderCellDef> Moveset </th>
            <td mat-cell *matCellDef="let pokemon"> <a mat-raised-button [href]="pokemon.learnsetUrls[selectedSite]"
                    target="_blank" color="primary">Learnset</a>
            </td>
        </ng-container>
    </table>
    <mat-paginator [length]="selectedGeneration.pokemonCount" [pageSize]="10" [pageSizeOptions]="[10,20, 50, 100]"
        showFirstLastButtons>
    </mat-paginator>
</div>